# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
.pnpm-debug.log

# Vite build output
dist/

# Local env files
.env
.env.local
.env.*.local

# Editor directories and files
.idea/
.vscode/
*.swp
*~
.DS_Store
Thumbs.db

# MacOS files
.DS_Store
.AppleDouble
.LSOverride

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db

# Typescript
*.tsbuildinfo

# Yarn
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz

# Package lock
package-lock.json
yarn.lock
